body{
    background-color: lightskyblue;
    font-size: 20px;
    color: lightcyan;
}
#pasos{
    color:darkblue;
    font-size: 20px;
}
h3{
    text-align: center;
    color: blueviolet;
}